[Unit]
Description=Watch Host
Requires=network-online.target
After=network-online.target consul.service

[Service]
Type=idle
User=root
Group=root
PIDFile=/var/run/watchhost.pid
ExecStart=/usr/bin/python /etc/consul.d/script/watchhost.py
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

