[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target dhcpd.service

[Service]
Type=idle
PIDFile=/var/run/consul.pid
ExecStartPre=/usr/local/bin/consul configtest -config-dir=/etc/consul.d/client
ExecStart=/etc/consul.d/script/startconsul.sh
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always

# Give a reasonable amount of time for the server to start up/shut down
RestartSec=5

[Install]
WantedBy=multi-user.target
