[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target dhcpd.service

[Service]
Type=idle
PIDFile=/var/run/consul.pid
ExecStartPre=/usr/local/bin/consul configtest -config-dir=/etc/consul.d/client
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul.d/client -pid-file=/var/run/consul.pid
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
